{% extends 'base.html' %}
{% load static %}
{% block title %}
Пост №{{post.id}}
{% endblock %}
{% block content_base %}
<div class="container">
  <div class="card my-3 pt-4 px-3 rounded hm-25  w-100 shadow-lg rounded">
    <div class="d-inline">
      <div class="row-sm mb-3">
        <div class="col-sm-1">
          <img src="{% static post.id_user.profile.avatar_url%}" alt="user_photo" width="60" height="60" class="rounded-circle">
        </div>
        <div class="col-sm-9">
          <div class="d-inline-block ml-3">
            <a href="/user_id{{post.id_user.id}}">
              <h4 class="card-title font-weight-bold">
                {{post.id_user.username}}
              </h4>
            </a>
            <p class="card-text"><small class="text-muted">Добавлено {{post.published_date|date:" d F Y в H:i"}}</small></p>
          </div>
        </div>
        <div class="col-sm-2">
          {% if request.user.id == user_profile.id or request.user.is_superuser%}
          <div class="btn-group">
            <button type="button" class="border-0 bg-white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Действие <span class="glyphicon glyphicon-cog"></span>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/edit_post/{{post.id}}"><span class="glyphicon glyphicon-edit"></span> Редактировать</a>
              <a class="dropdown-item" href="/delete_post/{{post.id}}/"><span class="glyphicon glyphicon-trash"></span> Удалить</a>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    {% if post.image_url != '' %}
    <img class="card-img-top img-news" src="{% static post.image_url%}" alt="post photo">
    {% endif %}
    <div class="card-body pt-3">
      {% if post.text != '' %}
      <p class="bg-white border-0">{{post.text}} </p>
      {% endif %}
      <div class="d-inline">
        <div class="row justify-content-between mt-3">
          <p class="card-text"><small class="text-muted">Коментарии: {{post.count_comment}} <span class="glyphicon glyphicon-comment"></span></small></p>
        </div>
      </div>
    </div>
  </div>
  {% if user.is_authenticated %}
  <div class="row-sm ">
    <form class=" mb-3" action="/post_id{{post.id}}/new_comment/" method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="row-sm">
        <label for="text">Ваш комментарий:</label>
      </div>
      <textarea type="text" id="text" name="text" class="form-control shadow-lg rounded" required rows="5" cols="100"></textarea>

      <div class="row-sm  ">
        <button class="btn btn-sm btn-primary btn-block" type="submit">Оставить комментарий</button>
      </div>
    </form>
  </div>
  {% endif %}
  <div class="panel panel-default mb-3">
    <div class="panel-heading" name="comment_post">
      <b>Коментарии</b>
    </div>
    {% if not comments %}
    <div class="panel-body mb-5">
      <i>Комментариев пока нет</i><br>
    </div>
    {% endif %}
  </div>
  {% if comments %}
    {% for comment in comments_on_page %}
    <div class="card my-3 py-3 px-3 rounded  w-100 shadow-lg rounded">
      <div class="d-inline">
        <div class="row-sm mb-3">
          <div class="col-sm-1">
            <img src="{% static comment.id_user.profile.avatar_url%}" alt="user_photo" width="60" height="60" class="rounded-circle">
          </div>
          <div class="col-sm-9">
            <div class="d-inline-block ml-3">
              <a href="/user_id{{comment.id_user.id}}">
                <h4 class="card-title font-weight-bold">
                  {{comment.id_user.username}}
                </h4>
              </a>
              <p class="card-text"><small class="text-muted">Добавлено {{comment.published_date|date:" d F Y в H:i"}}</small></p>
            </div>
          </div>
          <div class="col-sm-2">
            {% if request.user.id == comment.id_user.id or request.user.is_superuser%}
            <div class="btn-group">
              <button type="button" class="border-0 bg-white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Действие
              </button>
              <div class="dropdown-menu">
                <!-- <a class="dropdown-item" href="#">Редактировать</a> -->
                <a class="dropdown-item" href="/delete_comment/{{comment.id}}">Удалить</a>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="row-sm my-3">
        <p class="card-text mx-4">{{comment.text}}</p>
      </div>
      </div>
    <!-- </div> -->
    {% endfor %}
    {% endif %}
    {% if comments_on_page %}
    <div class="row-sm d-flex justify-content-center">
      <div class="div">
        <nav aria-label="Page navigation">
          <ul class="pagination">
            {% if comments_on_page.paginator.num_pages >= 1 %}
            {% if not comments_on_page.has_previous %}
            <li class="page-item disabled">
              <a class="page-link text-dark" href="#">Предыдущая</a>
            </li>
            {% else %}
            <li class="page-item">
              <a class="page-link bg-light-blue"
              href="/post_id{{post.id}}/?page={{ comments_on_page.previous_page_number }}">Предыдущая</a>
            </li>
            {% if comments_on_page.previous_page_number != 1 %}
            <li class="page-item">
              <a class="page-link bg-light-blue"
              href="/post_id{{post.id}}/?page=1">1</a>
            </li>
            {% endif %}
            <li class="page-item">
              <a class="page-link bg-light-blue"
              href="/post_id{{post.id}}/?page={{ comments_on_page.previous_page_number }}">{{ comments_on_page.previous_page_number }}</a>
            </li>
            {% endif %}
            <li class="page-item disabled">
              <a class="page-link bg-info text-white"
              href="/post_id{{post.id}}/?page={{ comments_on_page.number }}">{{ comments_on_page.number }}</a>
            </li>
            {% if not comments_on_page.has_next %}
            <li class="page-item disabled">
              <a class="page-link text-dark" href="#">Следующая</a>
            </li>
            {% else %}
            <li class="page-item">
              <a class="page-link bg-light-blue"
              href="/post_id{{post.id}}/?page={{ comments_on_page.next_page_number }}">{{ comments_on_page.next_page_number }}</a>
            </li>
            {{ comments_on_page.paginator.number }}
            {% if comments_on_page.next_page_number != comments_on_page.paginator.num_pages %}
            <li class="page-item">
              <a class="page-link bg-light-blue"
              href="/post_id{{post.id}}/?page={{ comments_on_page.paginator.num_pages }}">{{ comments_on_page.paginator.num_pages }}</a>
            </li>
            {% endif %}
            <li class="page-item">
              <a class="page-link bg-light-blue"
              href="/post_id{{post.id}}/?page={{ comments_on_page.next_page_number }}">Следующая</a>
            </li>
            {% endif %}

            {% endif %}
          </ul>
        </nav>
      </div>
    </div>
    {% endif %}
</div>
{% endblock %}
