
{% extends 'base.html' %}
{% load static %}
{% block title %}
Редактирование профиля
{% endblock %}

{% block content_base %}
<div class="col-3 ">
    <a href="../" >
      <button id="fixed-back_btn"
      class="btn my-2 my-sm-0 bg-secondary text-light font-weight-bold" type="button" name="button">Вернуться назад</button>
    </a>
</div>
<div class="container">
  <div class="shadow-lg rounded pb-3 mt-3 bg-light-green" id="login-sign_up" >
    <div class="row justify-content-center">
        <form class="form-signin text-left" method="post">
          {% csrf_token %}
          <h1 class="h2 font-weight-normal text-center">Редактировать профиль</h1>
          <div class="row">
            <div class="col-6">
              <label for="inputFirstName">Имя:</label>
              <input type="text" id="inputFirstName" name="first_name" class="form-control mb-3" value="{{request.user.first_name}}" required autofocus>
            </div>
            <div class="col-6">
              <label for="inputLastName">Фамилия:</label>
              <input type="text" id="inputLastName" name="last_name"class="form-control mb-3" value="{{request.user.last_name}}" required>
            </div>
          </div>

          <label for="birthday">Дата рождения:</label>
          <input class="form-control" type="date" id="birthday" name="birthday"
                 value="{{request.user.profile.birthday|date:"Y-m-d"}}"
                 min="1945-01-01" max="2010-12-31">

          <label for="gender">Пол:</label>
          <select class="form-control mb-3" name="gender" id="gender">
            {% if request.user.profile.gender == 'М' %}
            <option selected value="М">Мужской</option>
            <option value="Ж">Женский</option>
            {% endif %}
            {% if request.user.profile.gender == 'Ж' %}
            <option value="М">Мужской</option>
            <option selected value="Ж">Женский</option>
            {% endif %}
          </select>

          <label for="audio_url">Фото профиля</label>
          <input type="file" name="avatar_url" class="mb-3">

          <label for="inputEmail">Email адрес:</label>
          <input type="email" id="inputEmail" name="email" class="form-control mb-3" value="{{request.user.email}}" required>

          <div class="row">
            <div class="col-6">
              <label for="inputPassword">Пароль:</label>
              <input type="password" id="inputPassword" name="password" class="form-control mb-3" placeholder="Пароль">
            </div>
            <div class="col-6">
              <label for="repeatPassword">Подтвердите пароль:</label>
              <input type="password" id="repeatPassword" name="repeat_password" class="form-control mb-3" placeholder="Пароль">
            </div>
          </div>
          {% if reg_error %}
          <div class="text-center">
            <label class="alert-danger">{{ reg_error }}</label>
          </div>
          {% endif %}
          <button class="btn btn-lg btn-primary btn-block mt-4" type="submit">Сохранить изменения</button>
        </form>
    </div>
  </div>
</div>
{% endblock %}
