{% extends 'base.html' %}
{% load static %}
{% block title %}
Регистрация
{% endblock %}

{% block content_base %}
<div class="container">
  <div class="shadow-lg rounded pb-3 mt-3 w-50" id="login-sign_up" >
    <div class="row justify-content-center ">
        <form class="form-signin text-left w-75" method="post">
          {% csrf_token %}
          <h1 class="h2 font-weight-normal text-center">Регистрация</h1>
          <div class="row">
            <div class="col-6">
              <label for="inputFirstName">Имя:</label>
              <input type="text" id="inputFirstName" name="first_name" class="form-control mb-3" placeholder="John" required autofocus>
            </div>
            <div class="col-6">
              <label for="inputLastName">Фамилия:</label>
              <input type="text" id="inputLastName" name="last_name"class="form-control mb-3" placeholder="Doe" required>
            </div>
          </div>

          <label for="birthday">Дата рождения:</label>
          <input class="form-control" type="date" id="birthday" name="birthday"
                 value="2010-07-22"
                 min="1945-01-01" max="2010-12-31">

          <label for="gender">Пол:</label>
          <select class="form-control mb-3" name="gender" id="gender">
            <option value="М">Мужской</option>
            <option value="Ж">Женский</option>
          </select>

          <label for="inputEmail">Email адрес:</label>
          <input type="email" id="inputEmail" name="email" class="form-control mb-3" placeholder="john_doe@email.com" required>

          <label for="inputLogin">Логин:</label>
          <input type="text" id="inputLogin" name="username" class="form-control mb-3" placeholder="john_doe" required>

          <div class="row">
            <div class="col-6">
              <label for="inputPassword">Пароль:</label>
            </div>
            <div class="col-6">
              <label for="repeatPassword">Подтвердите пароль:</label>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <input type="password" id="inputPassword" name="password" class="form-control mb-3" placeholder="Пароль" required>
            </div>
            <div class="col-6">
              <input type="password" id="repeatPassword" name="repeat_password" class="form-control mb-3" placeholder="Пароль" required>
            </div>
          </div>
          {% if reg_error %}
          <div class="text-center">
            <label class="alert-danger">{{ reg_error }}</label>
          </div>
          {% endif %}
          <button class="btn btn-lg btn-primary btn-block mt-4" type="submit">Создать аккаунт</button>
        </form>
      <!-- </div> -->
    </div>
  </div>
</div>
{% endblock %}
